<html>
<head>
  <meta name="viewport" content='width=device-width' />
  <title>The Satellite</title>
  <script>
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  </script>

<link rel="icon" type="image/vnd.microsoft.icon" href="/images/favicon.ico" />
  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

  <!-- Scripts -->
  <script type="text/javascript" src="/javascripts/libraries/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/scripts.js"></script>

  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <link rel="stylesheet" type="text/css" href="/styles/nav-bar.css">
  <link rel="stylesheet" type="text/css" href="/styles/main-image.css">
  <link rel="stylesheet" type="text/css" href="/styles/main-image-caption.css">
  <link rel="stylesheet" type="text/css" href="/styles/news-container.css">
  <link rel="stylesheet" type="text/css" href="/styles/content-container.css">
  <link rel="stylesheet" type="text/css" href="/styles/nav-footer.css">
  <link rel="stylesheet" type="text/css" href="/styles/blog.css">
  <link rel="stylesheet" type="text/css" href="/styles/tablet.css">
  <link rel="stylesheet" type="text/css" href="/styles/mobile.css">

  <!-- Libraries -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54742435-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

<div class="main-container">
<div class="nav-container">
  <div class="nav-wrapper">
  <div class="nav-bar">
    <div class="main-logo">
      <a href="/"><img src="/images/logo.png"></a>
    </div>
    <div class="nav-menu">
      <ul>
        <li><a href="story">Story</a></li>
        <li><a href="team">Team</a></li>
        <li><a href="technology">Technology</a></li>
        <li><a id="bold" href="blog">Blog</a></li>
        <li class="join-button"><a href="contact">Join Us</a></li>
      </ul>
    </div>
    <div class="hamburger">
      <i class="fa fa-bars fa-2x"></i>
    </div>
  </div>
      </div>
  </div>

  <div class="secondary-main-image" id="blog-img">
    <h1>Blog</h1>
    <div class="secondary-caption">
      <h2 class="secondary-main-image-text">Updates on project development including screen captures, public presentations, team activity and press.</h2>
    </div>
  </div>



<!-- this is the container that holds all blog entries -->
    <div class="blog-container">


      
 
      <!-- this is the beginning of the blog entry  -->
      <div class="blog-entry-box">
        <!-- add the blog title below -->
        <h1 class="blog-headline">First Pass at Generative Clouds</h1>
        <!-- add the date of the blog post below -->
        <h5 class="blog-date">May 3, 2014</h5>
        <!-- add the text body of the blog below -->
        <p class="blog-text">Our first pass at the generative clouds!</p>
        <!-- this is the container that holds the blog photo -->
        <div class="blog-image-container">
          <!-- add the blog photo below -->
          <iframe class="blog-image" src="//player.vimeo.com/video/96748098?title=0&amp;byline=0&amp;portrait=0;color=2B88F0" width="650" height="365" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
      </div>
      <!-- this is the end of the blog entry -->
      
<hr>
 
      <!-- this is the beginning of the blog entry  -->
      <div class="blog-entry-box">
        <!-- add the blog title below -->
        <h1 class="blog-headline">Testing the 500 Megapixel Land Layer</h1>
        <!-- add the date of the blog post below -->
        <h5 class="blog-date">November 10, 2013</h5>
        <!-- add the text body of the blog below -->
        <p class="blog-text">The prototype is coming along! We now have 500 million pixels in the land layer. </p>
        
        <!-- this is the container that holds the blog photo -->
        <div class="blog-image-container">
      
          <!-- add the blog photo below -->
          <iframe class="blog-image" src="//player.vimeo.com/video/85188055?title=0&amp;byline=0&amp;portrait=0&amp;color=2b88f0" width="650" height="366" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          
        </div>
      </div>
      <!-- this is the end of the blog entry -->

<hr>

      <!-- this is the beginning of the blog entry  -->
      <div class="blog-entry-box">
        <!-- add the blog title below -->
        <h1 class="blog-headline">Experimenting with the Landsat Feeds</h1>
        <!-- add the date of the blog post below -->
        <h5 class="blog-date">July 1, 2013</h5>
        <!-- add the text body of the blog below -->
        <p class="blog-text">Dana hacking some Open GL with the team.</p>
        <!-- this is the container that holds the blog photo -->
        <div class="blog-image-container">
          <!-- add the blog photo below -->
          <img class="blog-image" src="/images/hacking.jpg">
        </div>
        <!-- below is the hr line divider to mark the end of an entry -->
       
      </div>
      <!-- this is the end of the blog entry -->

    </div>
    <!-- this is the end of the container that holds the blog entries -->


<div class="nav-footer-container">
  <div class="nav-footer">
    <div class="nav-footer-left">
      <div class="nav-menu-footer">
        <ul>
                  <li><a href="story">Story</a></li>
          <li><a href="team">Team</a></li>
          <li><a href="technology">Technology</a></li>
          <li><a id="bold" href="blog">Blog</a></li>
          <li><a href="contact">Join Us</a></li>
          <li><a href="press">Press</a></li>
        </ul>
      </div>

      <p>
       The Satellite is a live, photo-realistic experience of Earth from space, created purely from satellite data. For more information see our <a style="color:#666;font-weight:300" href="press">press kit</a>, or contact Dana Karwas at <a style="color:#666;font-weight:300" href="mailto:hello@thesatellite.org">hello@thesatellite.org</a>.</p>
      <p>
        &copy; WIKA LLC
      </p>
    </div>

    <div class="nav-footer-right">

      <h5>FOLLOW THE PROJECT</h5>
      
        <!-- footer subscribe form -->
      <div class="footer-subscribe">
      <form action="http://wika.createsend.com/t/t/s/itidli/" method="post">
        <input class="footer-subscribe-input" id="fieldEmail" name="cm-itidli-itidli" type="email" value="Email Address" required />
        <input class="footer-subscribe-input" type="submit"></input>
</form>
</div>
<!-- end footer subscribe form -->


      <a href="https://twitter.com/satproject" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @satproject</a>
      <div class="fb-container">
      <div class="fb-like" data-href="http://www.facebook.com/thesatelliteproject" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
      </div>

      <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      </script>
    </div>
  </div>
  </div>
  </div>

</body>
</html>
