<html>
<head>
  <meta name="viewport" content='width=device-width' />
  <title>The Satellite</title>
  <script>
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  </script>
  
  <link rel="icon" type="image/vnd.microsoft.icon" href="/images/favicon.ico" />

  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

  <!-- Scripts -->
  <script type="text/javascript" src="/javascripts/libraries/jquery.js"></script>
  <script type="text/javascript" src="/javascripts/scripts.js"></script>

  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <link rel="stylesheet" type="text/css" href="/styles/nav-bar.css">
  <link rel="stylesheet" type="text/css" href="/styles/main-image.css">
  <link rel="stylesheet" type="text/css" href="/styles/main-image-caption.css">
  <link rel="stylesheet" type="text/css" href="/styles/news-container.css">
  <link rel="stylesheet" type="text/css" href="/styles/content-container.css">
  <link rel="stylesheet" type="text/css" href="/styles/nav-footer.css">
  <link rel="stylesheet" type="text/css" href="/styles/tablet.css">
  <link rel="stylesheet" type="text/css" href="/styles/mobile.css">

  <!-- Libraries -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54742435-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

<div class="main-container">
<div class="nav-container">
  <div class="nav-wrapper">
  <div class="nav-bar">
    <div class="main-logo">
      <a href="/"><img src="/images/logo.png"></a>
    </div>
    <div class="nav-menu">
      <ul>
        <li><a href="story">Story</a></li>
        <li><a href="team">Team</a></li>
        <li><a id="bold" href="technology">Technology</a></li>
        <li><a href="blog">Blog</a></li>
        <!-- <li class="join-button"><a href="contact">Join Us</a></li> -->
      </ul>
    </div>
    <div class="hamburger">
      <i class="fa fa-bars fa-2x"></i>
    </div>
  </div>
     </div>
  </div>

  <div class="secondary-main-image" id="technology-img">
    <h1>Press</h1>
    <div class="secondary-caption">
      <h2 class="secondary-main-image-text">Additional project information, image assets, and the latest updates on public appearances and events.</h2>
    </div>
  </div>



  <div class="content-container press-text">
  <h2>Press Contacts</h2>
  <h3>Have questions for the project directors? Contact <a href="mailto:hello@thesatellite.org" target="_blank">hello@thesatellite.org</a></h3>
    <h2>Background</h2>
    <h3>
      Dana Karwas and Gabriel Winer met in 2003 at NYU’s Interactive Telecommunications Program (ITP), where they collaborated on an interactive installation, <i>See Through Wall</i>, which used video and sound installation techniques to make a gallery wall disappear.  From 2005-2008, they continued to work together on numerous commissioned digital installation projects, including a large-scale drive-by cinema on Boulevard St. Germain in Paris.  In 2012, they collaborated on the creation of <i>The Prairie Map</i>, a collaborative mapping platform that allowed people throughout the Great Plains region to share their efforts towards restoring the North American prairie ecosystem.  Winer and Karwas both currently teach in the Integrated Digital Media department at NYU Engineering.
    </h3>
  
    <h2>Project Info</h2>
    <h3>
      The seed of The Satellite idea evolved from a series discussions between Winer and Karwas in the spring of 2013.  They were focused on the lack of access to perceptual knowledge of the environment on a macro scale.  In their research, they came across a live video feed being transmitted from the International Space Station.  It became immediately clear to them that it would create a powerful perceptual shift if the global public was able to see the Earth from space, and that their unique skillset could help bring that experience to a broad audience.  Winer and Karwas began background research for the project during the summer of 2013, and started development of the visualization engine in the spring of 2014.  
    </h3>
    
     <h2>Timeline</h2>
    <h3>
     Winer and Karwas presented the first preliminary test footage from The Satellite’s visualization engine at the July meeting of the <a href="http://www.meetup.com/ny-tech/">NY Tech Meetup</a>.  In the fall of 2014, they will be launching a Kickstarter campaign to support further development of the visualization engine and data system.  They plan to debut the visualization engine to public audiences in the spring of 2015, and to launch the complete installation in 2016. 
    </h3>
    
      <h2>News & Public Appearances</h2>
    <h3>
    - Gabriel Winer will speak about The Satellite at the <a href="http://www.nycmedialab.org/annual-summit/">NY Media Lab Summit</a>
    <br>
	- The Satellite will be a featured project at <a href="http://h71056.www7.hp.com/hp-power-up/overview.html#.VBMApi5dWAN">HP PowerUp</a>
	<br>
	- "‘The Satellite’ Is A Science Project To Bring You A Live Portrait Of Earth", <a href="http://techcrunch.com/2014/07/02/the-satellite-is-a-science-project-to-bring-you-a-live-portrait-of-earth/">Tech Crunch</a>
    </h3>
    
      <h2>Bios</h2>
      
      <h3>Gabriel is a designer and artist whose work focuses on environmental perception. He holds a B.A. in Cultural Anthropology from Yale University, where his research focused on environmental design. Gabriel also studied cultural anthropology at Goldsmiths College, University of London and received a master’s degree from ITP (NYU Tisch). Gabriel teaches courses on digital imaging at NYU Engineering's Integrated Digital Media Program.</h3>
      
      <h3>Dana Karwas is a media artist and Instructor of Integrated Digital Media at NYU. She teaches courses in Interactive Performance Art, Interaction Design, and Project Development for Interactive Media. Dana holds a Bachelor of Architecture from the School of Architecture, Design, and Planning at the University of Kansas, and has a Masters from The Interactive Telecommunications Program (ITP) at NYU’s Tisch School of the Arts, with a focus on integrating media into architectural spaces.</h3>
      
      <h3>Find more team bios on the <a href="team">Team</a> page.</h3>
      
      
      <h2>Assets</h2>
      <div class="asset-container">
      <img class="assets" src="/images/sat_lg.png">
      <h3><a href="/images/sat_lg.png">Download Image</a></h3>
      </div>
      <div class="asset-container">
      <img class="assets" src="/images/dana_lg.jpg">
      <h3><a href="/images/dana_lg.jpg">Download Image</a></h3>
      </div>
      <div class="asset-container">
      <img class="assets" src="/images/gabriel_lg.jpg">
      <h3><a href="/images/gabriel_lg.jpg">Download Image</a></h3>
      </div>
  </div> 


  
  
  
<div class="nav-footer-container">
  <div class="nav-footer">
    <div class="nav-footer-left">
      <div class="nav-menu-footer">
        <ul>
                   <li><a href="story">Story</a></li>
          <li><a href="team">Team</a></li>
          <li><a href="technology">Technology</a></li>
          <li><a id="bold" href="blog">Blog</a></li>
          <li><a href="contact">Join Us</a></li>
          <li><a href="press">Press</a></li>
        </ul>
      </div>

      <p>
       The Satellite is a live, photo-realistic experience of Earth from space, created purely from satellite data. For more information see our <a style="color:#666;font-weight:300" href="press">press kit</a>, or contact Dana Karwas at <a style="color:#666;font-weight:300" href="mailto:hello@thesatellite.org">hello@thesatellite.org</a>.</p>
      <p>
        &copy; WIKA LLC
      </p>
    </div>

    <div class="nav-footer-right">

      <h5>FOLLOW THE PROJECT</h5>
      
        <!-- footer subscribe form -->
      <div class="footer-subscribe">
      <form action="http://wika.createsend.com/t/t/s/itidli/" method="post">
        <input class="footer-subscribe-input" id="fieldEmail" name="cm-itidli-itidli" type="email" value="Email Address" required />
        <input class="footer-subscribe-input" type="submit"></input>
</form>
</div>
<!-- end footer subscribe form -->


      <a href="https://twitter.com/satproject" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @satproject</a>
      <div class="fb-container">
      <div class="fb-like" data-href="http://www.facebook.com/thesatelliteproject" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
      </div>

      <script>
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      </script>
    </div>
  </div>
  </div>
</div>

</body>
</html>
