.main-image-caption {
  background-color: #fafafa;
  display: inline-block;
  width: 100%;
}

.main-image-caption h2 {
  color: #333;
  max-width: 650px;
  margin: 65px auto 30px auto;
  font-size: 15px;
  letter-spacing: 1px;
}

.main-image-caption h3 {
  color: #999;
  margin-bottom: 14px;
  letter-spacing: 2px;
}

.main-image-caption a {
  color: #2B88F0;
  text-decoration: none;
  font-weight: 400;
}

.main-image-caption .social-media-bar {
  margin-bottom: 65px;
}

.story-text {
  text-align: left;
}


.press-text {
  text-align: left;
}