.nav-container {
  z-index: +1;
  height: 145px;
  width: 100%;
  /* position: fixed; */
  background: white;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 1px 0px 0px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 5px 6px -6px rgba(50, 50, 50, 0.3);
}

.nav-wrapper {
  width: 400px;
  display: inline-block;
}

.nav-bar {
  z-index: +1;
  height: 65px;
  width: 100%;
  max-width: 1100px;
  /* position: fixed; */
  background: white;
  top: 0;
}

.nav-bar a {
  text-decoration: none;
  color: #999;
}

.nav-bar h1 {
  margin: 0;
  text-align: left
}

.main-logo {
width: 233px;
  display: inline-block;
  /* float: left;  */
  margin: 50px 0 0 0;
}

.main-logo img {
  width: 100%;
}

.nav-menu {
  /* display: inline-block; */
  top: 2em;
  /* right: 4em; */
  /* float: right; */
  margin: 20px 0 0 0;
  
}

.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-menu ul li {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hamburger {
  display: none;
  float: right;
  margin-right: 5%;
}

.join-button {
  border: 2px solid #999;
  border-radius: 4px;
  word-spacing: 1px;
  padding: 7px 20px 9px 20px;
}
