.nav-footer-container {
  background-color: #f5f5f5;
  width: 100%;
}

.nav-footer {
  max-width: 1100px;
    text-align: left;
    display: inline-block;
      padding: 50px 0px;
}

.nav-footer-left {
  display: inline-block;
  float: left;
  width: 60%;
  font-size: 13px;
  margin: 0 0 0 50px;
}

.nav-footer-left h5 {
  font-size: 15px;
  margin: 0;
  margin-bottom: 10px;
}

.nav-footer-right {
  color: #999;
  display: inline-block;
  float: right;
  margin: -5px 50px 0 0;
  
}

.nav-menu-footer {
  display: inline-block;
  font-size: 24px;
}

.nav-menu-footer a {
  text-decoration: none;
  color: #666;
}

.nav-menu-footer ul {
  color: #666;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-menu-footer ul li {
  display: inline;
  margin-right: 10px;
  font-size: 13px;
}
