.team-member-container {
  vertical-align: top;
  width: 300px;
  margin: 65px auto 0 auto;
  display: inline-block;
}

.team-member-container img {
  width: 250px;
  height: 250px;
}

.team-member-container h1 {
  font-size: 25px;
  font-weight: 300;
}

.team-member-container h3 {
  margin: 10px auto;
  width: 250px;
  font-size: 12px;
}

.bio-text {
  text-align: justify;
}

.team-hr {
  margin-top: 80px;
}

.team-container {
max-width: 1000px;
margin: 0 auto 65px auto;
}


.team-header {
  padding: 50px 0px 0px 0px;
  margin-left: auto;
  margin-right: auto;
}

.team-header h1 {
  font-size: 33px;
  color: #333;
  margin: 0 0 10px 0;
  font-weight: 300;
  letter-spacing: 1px;
}

.team-header h2 {
  font-size: 21px;
  color: #333;
  margin: 0 0 20px 0;
  font-weight: 300;
  letter-spacing: 2px;
}

.team-header h3 {
  font-size: 15px;
  color: #666;
  font-weight: 300;
  width: 500px;
  margin: auto;
}

.team-wika-image {
padding: 50px 0px 0px 0px;
}