.team-member-container {
  vertical-align: top;
  width: 300px;
  margin: 65px auto 0 auto;
  display: inline-block;
}

.team-member-container img {
  width: 250px;
  height: 250px;
}

.team-member-container h1 {
  font-size: 25px;
  font-weight: 300;
}

.team-member-container h3 {
  margin: 10px auto;
  width: 250px;
  font-size: 12px;
}

.bio-text {
  text-align: justify;
}

.team-hr {
  margin-top: 80px;
}

.team-container {
max-width: 1000px;
margin: 0 auto;
}
